ul>button{
    padding:10px 20px ;
    border-radius:8px ;
    color:white ;
    border-width:none ;
    border-style:none ;
    background-color:rgba(16, 46, 62, 0.865) ;
    font-size:larger ;
}

#logo>img{
    display: inline-block;
}
#logo>h1{
    display: inline-block;
}

#main{
    
}